.page {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.section-info {
  width: 100%;
}

.title-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title-text {
  font-size: 1.5rem;
}

.descrpition-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1rem 0;
}

.description-text {
  font-size: 0.875rem;
  font-style: italic;
}

.descrpition-btns {
  display: flex;
  gap: 1rem;
}

.form-field {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submit-button {
  font-size: 15px;
  width: 100%;
  /* width: 50px; */
  background-color: black;
  color: white;
}

.aside-img {
  display: none;
}

.list-row-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.input-fields .MuiInputBase-input {
  color: white;
}

.inputfield {
  /* width: 10%; */
  color: black;
  font-size: 15px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1.5px solid grey;
  background-color: white;
}

.submitbutton {
  font-size: 15px;
  width: 100%;
  /* width: 50px; */
  background-color: black;
  color: white;
}

/* Larger Screen with ratio of 6:4 */
@media screen and (min-width: 1024px) {
  .page {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .section-info {
    width: 60%;
  }

  .aside-img {
    display: block;
    width: 40%;
    max-width: 20rem;
    max-height: 20rem;
    object-fit: contain;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}
