.productCard,
.productCardActive,
.productCardDisabled {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 200px;
  margin: 0px 10px 20px 15px;
}

.productCardActive {
  border-style: solid;
  border-color: Green;
}

.productCardDisabled {
  border-style: solid;
  border-color: red;
}

.productImage {
  height: 90%;
  overflow: hidden;
}

.productName {
  font-size: 12px;
}

.productSubContainer {
  display: flex;
  flex-direction: row;
}

.productPriceRange,
.productCategory {
  font-size: 12px;
  width: 50%;
}

.productSeller,
.productQuantity {
  font-size: 12px;
  width: 50%;
}

.productCategory,
.productSeller {
  font-weight: bold;
}

.sellerActionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
