.page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.searchbar {
  width: 50%;
}

.inputfield {
  justify-content: center;
  color: inherit;
  font-size: 14px;
  margin: 8px 0px 0px 0px;
  /* box-sizing: border-box; */
  border: none;
  border-bottom: 1.5px solid grey;
  background-color: inherit;
}

.searcharea {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0px 0px 0px;
}

.productlink {
  text-decoration: none;
  color: black;
}
