.buyOneArea {
  display: flex;
  flex-direction: row;
}

.productDetails {
  display: flex;
  flex-direction: column;
}

.buttonsArea {
  display: flex;
  flex-direction: row;
}

.designButtons {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  gap: 5px;
}
